/* https://cloudninja.pw/docs/wofi.html */
window {
    border: 2px solid #04239b;
    background-color: #1e1e1e;
	font-family: "Iosevka Medium Extended";
	font-size: 10pt; 
}
 
#input {
	border: none;
	margin: 0;
	border-radius: 0;
    background-color: #1e1e1e; 
}

#outer-box {
    margin: 15px;
}

#inner-box {
	margin: 0;
	border: none;
}

#scroll {
    margin: 5px 0px;
	color: #f2f2f2;
}

#scroll label {
    margin: 0;
}

#text:selected {
	color: #f2f2f2;
}

#entry:selected {
	border: none;
	background-color: #04239b;
	outline: none;
}
